<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <title> Search product</title>
  <style type="text/css">
  	body, html {
  height: 100%;
  }
  	body {
    background-size: cover;
}
 footer {
     
    }
    footer {
  	 background-color: #f2f2f2;
     padding: 25px;
     word-wrap: normal;
     position: absolute;
     bottom: 0;
     width: 100%;
}

  </style>
  </head>

  <body>
  <div class="container">
  	<nav class="navbar navbar-inverse">
		
  <div class="container-fluid">
    <div class="navbar-header">
 
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
 
    </div>
  </div>
</nav>

  	
  </div>

  <div class="container-fluid text-center" style="margin-top: 10%;">
  <h2 class="">Enter the product name</h2>  
 <div class = "form-inline">
  <form method ="POST" action ="/predict">

    <input type="text" class="form-control"  placeholder="Product name" name ="searchtext">
    <input type="submit" class="btn btn-danger" value="Search">
    
    
    
  </form>
 </div>
</div>

</body>
<section>
	<div class="row">
			<footer class="container-fluid text-center">
<a href="https://app.powerbi.com/view?r=eyJrIjoiMDFhNTBjNTgtYzQ0ZS00YWMwLWE3MmItODM3ZWViNzk2NGY1IiwidCI6IjU5YzUzOTAyLThiZjktNDBjMC1hNmFmLWZmNjhiYjcwNWVlNSIsImMiOjEwfQ%3D%3D"> Distributions of Prices across Different Categories Graph</href>
   
  
</footer>
	</div>

</section>




</html>




